<h1>Users List</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @user.each do |u| %>
    <tr>
      <td><%= u.username %></td>
      <td><%= u.email %></td>
      <% if u.role %>
        <td>Admin</td>
      <% else %>
        <td>User</td>
      <% end %>
    </tr>
  <% end %>
</table>

<ul>
  <li><%= link_to "logout", 'logout' %></li>
  <li><%= link_to "back", '/' %></li>
</ul>
